/* global.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Metal&family=Quintessential&display=swap");

body {
  font-family: "Roboto", sans-serif !important;

  background-color: #f4f4f2; /* Example background color */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Example font */
}
.section-title {
  text-align: end;
  color: white;
  padding-top: 100px;
  margin-right: 60px;
  font-family: "Cormorant+Infant", serif;
  font-size: 6rem;
  margin-top: 0px !important;
}
@media (max-width: 768px) {
  .site-title {
    font-size: 3rem !important;
  }
  .site-subtitle {
    font-size: 1.5rem !important;
  }
  .lists-container {
    flex-direction: column;
  }
  .section-title {
    font-size: 3rem;
  }
  form {
    width: 300px !important;
  }
}
* {
  box-sizing: border-box;
}
